<section>
  <div class="max-w-screen-xl mt-1 px-4 py-8 sm:py-12 sm:px-6 lg:py-12 lg:px-8">
    <div class="grid gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
      <div class="mx-auto max-w-lg text-center lg:ml-8 lg:mx-0 lg:text-left sm:text-center">
        <h2 class="text-3xl font-bold sm:text-4xl ml-1 mb-6">Who am I?</h2>
        <div class="mt-4 text-gray-600">
          <p class="p-1">Hey there, I'm Jace, a dynamic tech expert who's passionate about technology and innovation.
            With a track record of delivering cutting-edge solutions, I've honed my skills as a
            Senior Systems Engineer over the past 5 years at <a class="font-medium text-blue-800"
              href="https://www.ottoit.com.au/" target="_blank">Otto IT.</a>
          </p>
          <p class="p-1">
            As a leader in my field, I've guided clients to the cloud, such as successfully migrating a Victorian
            council to Azure, removing the requirement and overhead of on-premise equipment. I also led the charge in
            migrating all critical infrastructure for an MSP to Azure Cloud, improving security, and helping the
            company achieve ISO 27001 certification.
          </p>
          <p class="p-1">I've honed my leadership skills as a Service Delivery Manager and leading the Professional
            Services technical team, and bring a wealth of expertise in security-focused solutions. Currently, I'm
            exploring the possibilities of AI via GPT-3 and looking for ways to incorporate it into my work.</p>
          <p class="p-1">When I'm not coding my hear out, you'll find me snapping some shots with my trusty
            Sony A7iii or flying high with my DJI Mavic Pro to capture some epic drone footage.</p>
          <p class="p-1">So go ahead and take a squiz around my page or check out some of the recent projects I've
            worked on! If you have any questions or just want to chat about tech, feel free to reach out!</p>
        </div>
        <a href="/contact"
          class="mt-8 ml-2 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400">
          Reach out
        </a>
        <a href="/projects"
          class="mt-8 ml-2 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400">
          View projects
        </a>
      </div>

      <div class="grid grid-cols-2 gap-2 sm:grid-cols-3 items-right">
        <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-code"></i>
          </span>

          <h2 class="mt-2 font-bold">Go</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            An intermediate Go developer using the Gin web framework.
          </p>
        </a>

        <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-cloud"></i>
          </span>

          <h2 class="mt-2 font-bold">Azure</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            The chosen public cloud for my work.
          </p>
        </a>

        <a class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-computer"></i>
          </span>

          <h2 class="mt-2 font-bold">MSP Work</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            5 years of providing top tier support and solutions for our clients.
          </p>
        </a>

        <a class="mt-4 block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-camera"></i>
          </span>

          <h2 class="mt-2 font-bold">Photographer</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            I'm relaxed when the creativity starts and the camera is out. Check out my Instagram for some of my work.
          </p>
        </a>

        <a class="mt-4 block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-shield-halved"></i>
          </span>

          <h2 class="mt-2 font-bold">Security</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            Websites, firewalls + endpoints. You name it and I've probably seen those logs!
          </p>
        </a>

        <a class="mt-4 block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="/accountant">
          <span class="inline-block rounded-lg bg-gray-50 p-4 mb-1">

            <i class="fa-solid fa-server"></i>
          </span>

          <h2 class="mt-2 font-bold">Homelab</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
            Between Home and Vultr, I'll containerise anything I can. Docker is my passion.
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

{{ template "gallery.html" .}}