<section class="col-span-5 bg-gray-100 pt-16">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <div class="max-w-xl text-lg">
          <p class="pt-4">
            You have landed on the most coveted page of my website - the one where you can reach out.
          </p>
          <p class="pt-4">
            Want to chat about your favorite cat videos, latest Netflix obsession, or perhaps share some gossip? Or
            maybe you want to collaborate on a project, pick my brain, or even buy me a cup of joe (hint hint)?
          </p>
          <p class="pt-4">
            Look no further, my friend, because I'm all ears (and taste buds). So let's get this conversation started
            and see where it takes us, shall we? Ta-ta for now!
          </p>
        </div>

        <div class="mt-8">
          <a href="" class="text-2xl font-bold text-pink-600">
            0400 301 207
          </a>

          <address class="mt-2 not-italic">
            Victoria, Australia
          </address>
        </div>
      </div>

      <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12 ">
        <form action="/contact" method="post" class="space-y-4">
          <div>
            <label class="sr-only" for="name">Name</label>
            <input class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Name (typically yours)"
              type="text" id="name" name="name" />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              <input class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Email address"
                type="email" id="email" name="email" />
            </div>

            <div>
              <label class="sr-only" for="phone">Phone</label>
              <input class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Mobile Number" type="tel"
                id="phone" name="phone" />
            </div>
          </div>

          <div>
            <label class="sr-only" for="message">Message</label>

            <textarea class="w-full rounded-lg border border-gray-200 p-3 text-sm"
              placeholder="I admire everything you do!! Or something along those lines.." rows="8" id="message"
              name="message"></textarea>
          </div>

          <div class="mt-4">
            <button type="submit"
              class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>