<section class="mt-1">
    <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        
        <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
          <img alt="Student"
            src="/assets/imgs/jace-gage.jpeg"
            class="h-40 w-full object-cover sm:h-56 md:h-full" />
  
          <img alt="Student"
            src="/assets/imgs/jace-tesla.jpeg"
            class="h-40 w-full object-cover sm:h-56 md:h-full" />
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
          <img alt="Student"
            src="/assets/imgs/jace-nat.jpeg"
            class="h-40 w-full object-cover sm:h-56 md:h-full" />
  
          <img alt="Student"
            src="/assets/imgs/jace-plane.jpeg"
            class="h-40 w-full object-cover sm:h-56 md:h-full" />
        </div>
      </div>
    </div>
  </section>