<div class="flex h-screen flex-col justify-between border-r bg-white">
    <div class="px-4 py-6">
        <nav aria-label="Main Nav" class="mt-6 flex flex-col space-y-1 text-gray-500">
            <a href="/" class="flex items-center gap-2 rounded-lg hover:bg-gray-100 px-4 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>

                <span class="text-sm font-medium"> Home </span>
            </a>

            <a href="/about"
                class="flex items-center gap-2 rounded-lg px-4 py-2  hover:bg-gray-100 hover:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                </svg>

                <span class="text-sm font-medium"> About Me </span>
            </a>

            <!-- {{ template "tools-menu.html" .}} -->

            <a href="/contact"
                class="flex items-center gap-2 rounded-lg px-4 py-2  hover:bg-gray-100 hover:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                </svg>

                <span class="text-sm font-medium"> Contact </span>
            </a>
        </nav>
    </div>

    <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
        <a class="flex items-center gap-2 bg-white pb-4 pl-2 pr-2 hover:bg-gray-50">
            <div class="pl-2 flex items-center">
                <img alt="Jace Walker"
                    src="https://media.licdn.com/dms/image/C5603AQGAW5xc6KoajA/profile-displayphoto-shrink_800_800/0/1607331951161?e=1684368000&v=beta&t=f53LYi7AVGwtkiO9LAY3R8L8D9XDzshnP--SVdSjR7o"
                    class="h-10 w-10 rounded-full object-cover" />
                <div class="ml-1">
                    <p class="text-xs">
                        <strong class="block font-medium">Jace Walker</strong>
                        <span> its@jace.au </span>
                    </p>
                </div>
                <div class="flex items-center ml-auto pb-4">
                    <a href="https://www.linkedin.com/in/jacewalker/" class="mr-2">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/jacewalker" class="mr-2">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.instagram.com/jacewalker" class="mr-2">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/jacceewalker" class="mr-2">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    // Get the "Home" and "About Me" links
    const homeLink = document.querySelector('a[href="/"]');
    const aboutLink = document.querySelector('a[href="/about"]');
    const contactLink = document.querySelector('a[href="/contact"]');

    // Check the current URL path and add the bg-gray-100 class to the corresponding link
    if (window.location.pathname === '/') {
        homeLink.classList.add('bg-gray-100', 'text-gray-800');
    } else if (window.location.pathname === '/about') {
        aboutLink.classList.add('bg-gray-100', 'text-gray-800');
    } else if (window.location.pathname === '/contact') {
        contactLink.classList.add('bg-gray-100', 'text-gray-800');
    }

    // Add an event listener for the popstate event (when the URL changes)
    window.addEventListener('popstate', () => {
        // Remove the bg-gray-100 class from both links
        homeLink.classList.remove('bg-gray-100', 'text-gray-800');
        aboutLink.classList.remove('bg-gray-100', 'text-gray-800');
        contactLink.classList.remove('bg-gray-100', 'text-gray-800')

        // Check the current URL path and add the bg-gray-100 class to the corresponding link
        if (window.location.pathname === '/') {
            homeLink.classList.add('bg-gray-100', 'text-gray-800');
        } else if (window.location.pathname === '/about') {
            aboutLink.classList.add('bg-gray-100', 'text-gray-800');
        } else if (window.location.pathname === '/contact') {
            contactLink.classList.add('bg-gray-100', 'text-gray-800');
        }
    });
</script>