<div class="min-h-screen bg-gray-100 py-4 flex flex-col justify-center relative overflow-hidden lg:py-8">
    <div class="relative w-full px-6 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28">
        <div class="max-w-prose mx-auto lg:text-xl">
            <div class="p-8 ml-12 mx-auto w-full-xl">
                <h2 class="font-medium text-center"> {{ .Title }} </h2>
                <br>
                <article class="prose prose-slate">
                    {{ .Content }}
                </article>
            </div>
        </div>
    </div>
</div>