<article class="p-32">
    <div class="flex items-center gap-4">
        <img alt="Developer" src="/assets/imgs/jace-cartoon.jpeg" class="h-16 w-16 rounded-full object-cover" />

        <div>
            <h3 class="text-lg font-medium">Jace Walker</h3>

            <div class="flow-root">
                <ul class="-m-1 flex flex-wrap">
                    <li class="p-1 leading-none">
                        <a href="https://github.com/jacewalker" target="_blank"
                            class="text-xs font-medium text-gray-700"> GitHub </a>
                    </li>

                    <li class="p-1 leading-none">
                        <a href="https://www.linkedin.com/in/jacewalker/" target="_blank"
                            class="text-xs font-medium text-gray-700">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <ul class="mt-4 space-y-2">
        <li>
            <a target="_blank" href="https://github.com/jacewalker/slack-gpt"
                class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">SlackGPT</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    An application written in Go that allowed my team to pose questions in a Slack Channel that GPT-3
                    would respond to.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    Developing with the Slack API and ensuring the application would respond in Slack threads and
                    remember the conversation history in order to provide context-aware answers.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    Click to view the Github repository.
                </p>
            </a>
        </li>

        <li>
            <a target="_blank" href="https://github.com/jacewalker/unifi-adoption"
                class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">UniFi Mass Adoption</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    I'm quite a lazy person and manually adopting Ubiquiti gear by launching the Ubiquiti Chrome Tool
                    and giving each device 2-4mins of attention to adopt was not something I enjoyed too often.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    I had to automate it. The Unifi Mass Adoption tool will:
                </p>
                <ul class="list-disc mt-1 pl-5 text-xs font-medium text-gray-700">
                    <li>Scan all connected subnets</li>
                    <li>Identify all Ubiquiti equipment</li>
                    <li>Check if the device is adopted</li>
                    <li>Adopt the device to my specified controller</li>
                    <li>Do this concurrently for all the speed.</li>
                </ul>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    During testing, we successfully found & adopted 5 Ubiquiti Access Points in &lt;3 seconds. 
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    Click to view the Github repository.
                </p>
            </a>
        </li>

        <li>
            <a target="_blank" href="https://github.com/jacewalker/inker.ink"
                class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">inker.ink: A URL Shortener</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    https://inker.ink is a fast web app designed for you to self-host your own URL shortening website on
                    your custom domain. Written in Go using Gin.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    Click to view the Github repository.
                </p>
            </a>
        </li>
    </ul> -->

    <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-4 mt-6">
        <div>
            <a target="_blank" href="https://github.com/jacewalker/slack-gpt"
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600 w-128">
                <strong class="font-medium">SlackGPT</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    An application written in Go that allowed my team to pose questions in a Slack Channel that GPT-3
                    would respond to.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    Developing with the Slack API and ensuring the application would respond in Slack threads and
                    remember the conversation history in order to provide context-aware answers.
                </p>
                <p class="mt-2 text-xs font-medium text-gray-700">
                    Click to view the Github repository.
                </p>
            </a>
        </div>

        <div>
            <a target="_blank" href="https://github.com/jacewalker/unifi-adoption"
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">UniFi Mass Adoption</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    I'm quite a lazy person and manually adopting Ubiquiti gear by launching the Ubiquiti Chrome Tool
                    and giving each device 2-4mins of attention to adopt was not something I enjoyed too often.
                </p>
                <p class="mt-1 text-xs font-medium text-gray-700">
                    I had to automate it. This tool will discover and adopt all UniFi devices on the network within a
                    few seconds. All concurrently.
                </p>
                <p class="mt-2 text-xs font-medium text-gray-700">
                    This tool is currently private and cannot be viewed.
                </p>
            </a>
        </div>

        <!-- <div>
            <a target="_blank" href=""
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">VMware Migration to Azure Cloud</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia vitae, quas deserunt doloribus
                    laborum dolor possimus ad. Maxime possimus repellat quasi ut quo, quaerat consequuntur
                    necessitatibus cumque porro commodi velit.
                </p>
            </a>
        </div> -->

        <!-- <div>
            <a target="_blank" href=""
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">Automating Bitwarden Deployment with Ansible</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia vitae, quas deserunt doloribus
                    laborum dolor possimus ad. Maxime possimus repellat quasi ut quo, quaerat consequuntur
                    necessitatibus cumque porro commodi velit.
                </p>
            </a>
        </div> -->

        <!-- <div>
            <a target="_blank" href=""
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">Migrating to SharePoint Online</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia vitae, quas deserunt doloribus
                    laborum dolor possimus ad. Maxime possimus repellat quasi ut quo, quaerat consequuntur
                    necessitatibus cumque porro commodi velit.
                </p>
            </a>
        </div> -->

        <div>
            <a target="_blank" href="https://github.com/jacewalker/inker.ink"
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">inker.ink: A URL Shortener</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    https://inker.ink is a fast web app designed for you to self-host your own URL shortening website on
                    your custom domain. Written in Go using Gin.
                </p>
                <p class="mt-2 text-xs font-medium text-gray-700">
                    Click to view the Github repository.
                </p>
            </a>
        </div>

        <!-- <div>
            <a target="_blank" href=""
                class="block lg:h-44 md:h-64 rounded-lg border border-gray-700 p-4 hover:border-pink-600">
                <strong class="font-medium">Writing this website: Go with Gin</strong>

                <p class="mt-1 text-xs font-medium text-gray-700">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia vitae, quas deserunt doloribus
                    laborum dolor possimus ad. Maxime possimus repellat quasi ut quo, quaerat consequuntur
                    necessitatibus cumque porro commodi velit.
                </p>
            </a>
        </div> -->
    </div>

</article>